*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}
body,html{
    height: 100%;
    
}
body{
    font-family: 'Barlow', sans-serif;
    background: #ddd;
    overflow-x: hidden;
}
/*
### STICKY FOOTER ###
*/
main{
    min-height: 100%;
    margin-bottom: -120px;
}
main::after{
    content: '';
    display: block;
}
footer, main::after{
    height: 120px;
}

nav, nav ul, .news{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    
}

/*
### NAV ###
*/
nav{
    align-items: center;
    padding: 1%;
    background-color: #333;
    min-height: 50px;
    font-weight: bold;
    box-shadow: 0 -3px 5px inset rgba(0,0,0, 0.5),
                0 1px 5px inset rgba(255,255,255,0.3);

    .logo{
        letter-spacing: 2px;
        color: #FE5F00;
        font-size: x-large;
        cursor: default;
    }
    ul{
        padding: 1% 0;
        width: 40%;
        border-radius: 10px;
            background-color: #111;
        li{
            position: relative;
            a,div{
                color: #eee;
                text-transform: uppercase;
            }
            a:hover{
                color: #FE5F00;
            }
            ul{
                display: none;
                position: absolute;
                background: #111;
                width: fit-content;
                margin-top: 10%;
                right: 50%;
                transform: translateX(50%);
                li{
                    padding: 20px 20px;
                    &:hover{
                        background: #FE5F00;
                    } 
                }
                a:hover{
                    color: #eee;
                }
            }
        }
        .hidden{
            display: none;
        }
        .username{
            color: #FE5F00;
            text-transform: uppercase;
            font-weight: bolder;
            cursor: default;
        }
        #perfil{
            cursor:pointer;
        }
    }
    .burger{
        display: none;
        color: #eee;
        font-size: 2.4em;
        &:hover{
            color: #FE5F00;
        }
    }
}
.show-nav{
    left: 0 !important;
}
.show-perfil{
    display: block !important;
}

// ### FOOTER ###

footer{
    box-shadow: 0 -3px 5px inset rgba(0,0,0, 0.5),
    0 2px 5px inset rgba(255,255,255,0.3);

    background: #333;
    color: #FE5F00;
    div{
        display: inline-block;
        .footer-block{
            display: block;
            margin: 25px 0 25px 45px;
            div:first-child{
                font-weight: bolder;
                font-size: 1.1;
            }
        }
        div{
            margin: 0.1% 0;
        }

    } 
    .icons{
        float: right;
        margin: 45px;
        i{
            color: #FE5F00;
            font-size: 2.4em;
            margin: 0 10px;
        }

    }
}

// ### LOGIN ###

form {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #333;
    color: #FE5F00;
    box-shadow: 0 0 0 3px #FE5F00, 0 0 0 2px rgba(0,0,0, 0.3);
    width: 40%;
    margin: 0 auto;
    margin-top: 6%;
    padding: 5% 1%;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    div{
        display: flex;
        margin-bottom: 5%;
        flex-wrap: wrap;
        align-content: center;
        flex: 0 1 100%;
        label{
            flex: 0 1 100%;
            margin: 5% 0;
            font-size: large;
        }
        input{
            padding: 4% 2%;
            flex: 0 0 100%;
            background: transparent;
            border-bottom: 2px solid #FE5F00;
            color: #eee;
            
        }
    }
    input[type="submit"]{
        text-transform: uppercase;
        background-color: #EB5E28;
        color: #eee;
        padding: 2% 12%;
        border-radius: 40px;
        border: 1px solid #eee;
        box-shadow: 0 2px 5px rgba(255,255,255,0.3),
                     0 3px 5px inset rgba(255, 250, 250, 0.3),
                     0 -4px 5px inset rgba(0,0,0, 0.3);
        cursor: pointer;
        margin-bottom: 2%;
        &:hover{
            background: #e96937;
        }
    }
    select {
        margin-top: 2%;
        width: 100%;
        padding: 5px 35px 5px 5px;
        font-size: 16px;
        border: 1px solid #666;
        height: 34px;
    }
}

// ### CONTACT ###

#contact{
    
    .title{
        color: #FE5F00;
        font-size: 2em;
        font-weight: bolder;
        padding-top: 40px;
        margin-bottom: -10px;
        text-align: center;
    }
    form{
        text-align: center;
        padding-top: 2%;
        border-radius: 20px;
        margin-bottom: 20px;
        position: relative;
        input, textarea{
            padding: 4% 2%;
            background: transparent;
            border-bottom: 2px solid #FE5F00;
            color: #eee;
            width: 100%;
            font-size: 1.3em;
        }
        input:nth-child(3){
            margin-bottom: 4%;
        }
        textarea{
            border: 2px solid #FE5F00;
        }
    }
}

// ### UPDATE ###

#update{
    main{
        .title{
            color: #333;
            font-size: 1.6em;
            font-weight: bolder;
            padding-top: 20px;
            text-align: center;
            
        }
        form{
            background: transparent;
            box-shadow: none;
            border-radius: 0;
            padding: 0;
            margin: 0 auto;
            color: #333;
            font-weight: bolder;
            align-content: center;
            label,input,select,div{
                width: 100%;
            }
            label{
                margin-bottom: 0;
            }
            input{
                color: #333;
                padding: 2% 1%;
                font-size: 1.4em;
            }
            input[type='submit']{
                color: #eee;
                margin-top: 2%;
            }
        }
    }
}
@media screen and (max-width: 1064px) {
    nav ul{
        width: 60%;
    }
}
@media screen and (max-width:768px) {
    form{
        width:80%
    }
    nav{
        position: relative;
        z-index: 99;
        ul{
            position: absolute;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            left: 100%;
            top: 45px;
            width: 100%;
            background: #333;
            transition: all 0.3s ease;
            li{  
                border-right: transparent;
                border-radius: 0;
                box-shadow:0 1px 5px inset rgba(255, 250, 250, 0.3),
                            0 -2px 5px  inset rgba(0,0,0, 0.7);
                padding: 5% 0;
                font-size: 1.4em;
            }
            #perfil{
                display: none;
            }
            .hidden{
                display: initial;
            }
            
        }
        .burger{
            display: flex;
        }
    }
}
@media screen and (max-width:478px){
    footer{
        height: 240px;
        div{
            display: block;
            text-align: center;
            margin-left: 0;
            .footer-block{
                margin: 0;
                padding-top: 25px;
            }

        }
        .icons{
            float: none;

        }
    }
}